<% was_validated = bookmark.errors.any? %>

<%= form_with(model: bookmark, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for bookmarker_id start -->
  <div class="form-group">
    <% bookmarker_class = "form-control" %>
    <% bookmarker_was_invalid = bookmark.errors.include?(:bookmarker) %>

    <% if was_validated %>
      <% if bookmarker_was_invalid %>
        <% bookmarker_class << " is-invalid" %>
      <% else %>
        <% bookmarker_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bookmarker_id %>
    <!-- Input for bookmarker_id start -->
    <%= f.collection_select :bookmarker_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for bookmarker_id end -->
    <% if bookmarker_was_invalid %>
      <% bookmark.errors.full_messages_for(:bookmarker).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for bookmarker_id end -->
  <!-- Label and input for post_id start -->
  <div class="form-group">
    <% post_class = "form-control" %>
    <% post_was_invalid = bookmark.errors.include?(:post) %>

    <% if was_validated %>
      <% if post_was_invalid %>
        <% post_class << " is-invalid" %>
      <% else %>
        <% post_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :post_id %>
    <!-- Input for post_id start -->
    <%= f.collection_select :post_id, Post.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for post_id end -->
    <% if post_was_invalid %>
      <% bookmark.errors.full_messages_for(:post).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for post_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
