<% was_validated = comment.errors.any? %>

<%= form_with(model: comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :commenter_id, value: current_user.id %>
  <div class="form-group">
    <% post_class = "form-control" %>
    <% post_was_invalid = comment.errors.include?(:post) %>

    <% if was_validated %>
      <% if post_was_invalid %>
        <% post_class << " is-invalid" %>
      <% else %>
        <% post_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :post_id %>
    <%= f.collection_select :post_id, Post.all, :id, :to_s, {}, class: "form-control" %>
    <% if post_was_invalid %>
      <% comment.errors.full_messages_for(:post).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = comment.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>
    <%= f.text_area :body, class: body_class, placeholder: "Enter body" %>
    <% if body_was_invalid %>
      <% comment.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
