<% was_validated = like.errors.any? %>

<%= form_with(model: like, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :fan_id, value: current_user.id %>
  <div class="form-group">
    <% post_class = "form-control" %>
    <% post_was_invalid = like.errors.include?(:post) %>

    <% if was_validated %>
      <% if post_was_invalid %>
        <% post_class << " is-invalid" %>
      <% else %>
        <% post_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :post_id %>
    <%= f.collection_select :post_id, Post.all, :id, :to_s, {}, class: "form-control" %>
    <% if post_was_invalid %>
      <% like.errors.full_messages_for(:post).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
