<%= form_with(model: @post, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :author_id, value: @user.id %>

  <%= f.submit "Create post", class: "btn btn-block btn-outline-secondary" %>
<% end %>
