<!-- Form follow start -->
<%= form_with(model: @follow, local: true) do |f| %>
<!-- Form follow end -->

  <!-- Label and input for leader_id start -->
  <div class="form-group">
    <%= f.label :leader_id %>

    <!-- Input for leader_id start -->
    <%= f.text_field :leader_id, class: "form-control" %>
    <!-- Input for leader_id end -->
  </div>
  <!-- Label and input for leader_id end -->

  <!-- Label and input for follower_id start -->
  <!-- Input for follower_id start -->
  <%= f.hidden_field :follower_id, value: @user.id %>
  <!-- Input for follower_id end -->
  <!-- Label and input for follower_id end -->

  <%= f.submit "Create follow", class: "btn btn-block btn-outline-secondary" %>
<% end %>
