<%= form_with(model: @follow, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :leader_id %>

    <%= f.text_field :leader_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :follower_id, value: @user.id %>

  <%= f.submit "Create follow", class: "btn btn-block btn-outline-secondary" %>
<% end %>
